* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	font-family: "Poppins", sans-serif;
	-webkit-font-smoothing: antialiased;
}

#root {
	background: #f9f9f9;
	height: 100%;
}

input,
button {
	font-family: inherit;
}
